#resume .wrapper {
    display: flex;
    flex-grow: 999;
    flex-basis: 0;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 70em;
}

#resume .wrapper .sidebarMenu {
    height: 15em;
    display: flex;
    float: left;
    flex-grow: 0;
    flex-basis: 15%;
    position: sticky;
    top: 3rem;
}

#resume .wrapper .sidebarMenu ul li {
    list-style: none;
    font-weight: 700;
    font-size: 12pt;
    margin-bottom: 17px;
    margin-left: -15px;
}

#resume .wrapper .sidebarMenu ul li a {
    text-decoration: none;
    color: #000;
}

#resume .wrapper .resume {
    margin-top: 10px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#resume .wrapper .resume #section-education {
    width: 100%;
    margin-bottom: 40px;
}

#resume .wrapper .resume .resume-title {
    color: #3E64FF;
    margin-bottom: 45px;
    font-weight: 800;
}

#resume .wrapper .resume .resume-item {
    border-bottom: 1px solid rgb(238, 231, 231);
    margin-bottom: 50px;
}

#resume .wrapper .resume .resume-item .icon {
    display: block;
    float: left;
    margin-right: 15px;
    font-size: 1.5em;
    background-color: #3E64FF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

#resume .wrapper .resume .resume-year-text {
    color: #3E64FF;
    font-size: 13pt;
    margin-bottom: 5px;
}

#resume .wrapper .resume .resume-graduated-text {
    color: black;
    font-weight: 900;
    font-size: 17pt;
    margin-left: 60px;
    margin-bottom: 8px;
}

#resume .wrapper .resume .resume-university-text {
    color: #000;
    font-size: 13pt;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 60px;
}

#resume .wrapper .resume .resume-descripton-text {
    margin-bottom: 50px;
    margin-left: 60px;
}

#resume .wrapper .resume #section-experience {
    width: 100%;
    margin-bottom: 40px;
}

#resume .wrapper .resume #section-skills {
    width: 100%;
    margin-bottom: 40px;
}

#resume .wrapper .resume #section-certificates {
    width: 100%;
}

#resume .wrapper .skill-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#resume .wrapper .skill-row .skill-box {
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    flex-direction: column;
    height: 340px;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 4em;
    -webkit-box-shadow:0px 10px 20px -8px #7b7474;
    -moz-box-shadow:0px 10px 20px -8px #7b7474;
    box-shadow:0px 10px 20px -8px #7b7474;
}

#resume .wrapper .skill-row .skill-box h2 {
    padding: 10px 0 0;
    color:#000;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom: 20px;
}

#resume .wrapper .skill-row .skill-box .percent {
    width:150px;
    height:150px;
    position:relative;
    display: block;
}

#resume .wrapper .skill-row .skill-box .percent svg {
    width:150px;
    height:150px;
    position:relative;
}

.skill-row .skill-box .percent svg circle {
    width:150px;
    height:150px;
    fill:none;
    stroke-width:6;
    stroke:#000;
    transform:translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap:round;
}

.skill-box .percent svg circle:nth-child(1) {
    stroke-dashoffset:0;
    stroke:#f3f3f3;
}

.skill-box .percent .svg-html circle:nth-child(2) {
    stroke-dashoffset:calc(440 - (440 * 95) / 100);
    stroke:#3E64FF;
}

.skill-box .percent .svg-css circle:nth-child(2) {
    stroke-dashoffset:calc(440 - (440 * 85) / 100);
    stroke:#3E64FF;
}

.skill-box .percent .svg-js circle:nth-child(2) {
    stroke-dashoffset:calc(440 - (440 * 70) / 100);
    stroke:#3E64FF;
}

.skill-box .percent .num {
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
}

.skill-box .percent .num h3 {
    color: #000;
    font-size:36px;
}

.skill-box .percent .num h3 span {
    font-size:24px;
    color: #000;
}

.skill-progress-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 100%;
}

.progress-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.progress-bar h2 {
    font-size: 12pt;
    color: #000;
    margin-bottom: 5px;
}


.skill-progress-bar .progress-bar .pb-principal {
    color:#000;
    background-color:#ccc;
    width: 90%;
    border-radius: 3px
}

.pb-blue-react {
    color:#fff;
    background-color:#3E64FF;
    width:40%;
    text-align: center
}

.pb-blue-bootstrap {
    color:#fff;
    background-color:#3E64FF;
    width:90%;
    text-align: center
}

.pb-blue-php {
    color:#fff;
    background-color:#3E64FF;
    width:60%;
    text-align: center
}

.pb-blue-node {
    color:#fff;
    background-color:#3E64FF;
    width:30%;
    text-align: center
}

.pb-blue-mysql {
    color:#fff;
    background-color:#3E64FF;
    width:70%;
    text-align: center
}

.pb-blue-laravel {
    color:#fff;
    background-color:#3E64FF;
    width:50%;
    text-align: center
}